html {
}

body {
    margin: 0;
    padding: 0;
    background: #575757;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input {
    background: #424242;
    padding: 0 8px 0 8px;
    outline: none;
    border: none;

    /* border-bottom: 1px solid rgb(145, 145, 145); */
    height: calc(3rem - 1px);
    width: 16rem;

    font-size: 18px;
    color: white;
}

input:hover {
    background: #3f3f3f;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-rows: 50vh 50vh;
}

.center-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-column: 2;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.name {
    display: flex;
    justify-content: center;
    margin: 3px;
    padding: 3px;
}

#myName.name {
    align-items: flex-start;
}

#enemyName.name {
    align-items: flex-end;
    text-align: center;
    font-size: 22px;
}

#nameButton {
    border-radius: 0;
    outline: none;
    border: none;

    width: calc(3rem - 1px);
    height: calc(3rem - 1px);

    background: rgb(59, 153, 59);
    color: white;
    font-size: 13px;
}

#nameButton:hover {
    background: rgb(42, 139, 42);
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.side {
    grid-template-rows: 33% 33% 33%;
    display: grid;
}

.side > * {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.hoverable:hover {
    background: #414141;
}

.label {
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.controls {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media screen and (max-width: 600px) {
    #playerName {
        max-width: 40vw;
    }
    .controls {
        max-width: 100%;
        font-size: 15px;
    }
}
